<form method="POST" action="/posts">
  <div class="form-group">
    <label for="charityName">Charity Name</label>
    <input type="text" class="form-control" id="charityName">
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name">
  </div>
  <div class="form-group">
      <label for="amountGiven">Amount Given</label>
    <input type="text" class="form-control" id="amountGiven">
  </div>
  <div>
      <form method="POST" action="/posts">
        <button type="submit" class="btn btn-primary">POST IT!</button>
      </form>
  </div>
</form>